.title {
    text-align: center;
    margin: 0;
    padding: 40px 0;
    font-size: 20px;
    line-height: 2.7rem;
    font-weight: 400;
    border-top: 1px solid var(--color-dark);
}

.posts {
    display: flex;
    flex-wrap: wrap;
    gap: 35px 50px;
    padding: 0 20px;
}
