:root {
  --color-dark: #1e1e20;
  --color-white: #ffffff;
  --transition-default: all .3s ease;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f6f5;
  color: var(--color-dark);
  min-height: 100vh;
  line-height: 1.36;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.container {
  width: 100%;
}
button {
  border: none;
  background: none;
}
